<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        var fullPath = '@HttpContext.Current.Request.Url.Scheme://@HttpContext.Current.Request.Url.Authority';
        function GetPath(url) {
            return fullPath + url;
        }
    </script>

    <meta name="description" content="" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="width:350px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#home-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"style="width:300px; display:flex;"><img src="~/Content/EricHeadshot.jpg" width="40" height="40" style="border-radius:30px 30px;"/><div style="margin-left:25px; width:100px; margin-top:10px;">Eric Fowler</div></a>
            </div>
            <div class="navbar-collapse collapse" id="home-navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-top:10px;">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Resume", "Index", "Resume")</li>
                    <li>@Html.ActionLink("Work", "Work", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                </ul>
            </div>
        </div>
    </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Eric Fowler</p>
        </footer>

    <!-- jQuery -->
    <script src="~/Scripts/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
</body>
</html>
